body {
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.75;
    color: #333333ad;
    text-align: left;
    background-color: #fff;
}






.transparent-input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 200px;
  height: 30px;
}
.white-input {
  background-color: white;
}
.input-container {
  position: absolute;
  top: 60%; /* change the top position to move the input field down */
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 1;
}



.submit-button {
  border: none; /* remove the border around the button */
  background: none;
  cursor: pointer;
}

.submit-button:focus {
  outline: none; /* remove the outline when the button is clicked */
}


.submit-container {

position: relative;
display: inline-block;

}






.container {
  position: relative;
}

#loading-spinner {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}






.myhr{

  color: white !important;

}




mt-4, .my-4 {
  margin-top: 1.5rem!important;
}
hr {
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}
hr {
  height: 0;
  overflow: visible;

}



p {
  color: #b3b3b3;
  font-weight: 300; }




  .h2 {
    color: #46127b;
    font-weight: 700;

}

.h2, h2 {
    font-size: 24px;
    line-height: 32px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}
.h2, h2 {
    font-size: 1.5rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    font-family: Montserrat,Tajawal,Open Sans,sans-serif;
    font-weight: 700;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
}


.btn-close, .btn-transparent svg {
  color: #c51d1d;
}
.d-block {
  display: block!important;
}
svg {
  overflow: hidden;
}

.form-control{
  padding: 0%;
}



svg {
  overflow: hidden;

}



.pb-0, .py-0 {
  padding-bottom: 0!important;
}
.pt-0, .py-0 {
  padding-top: 0!important;
}
.border-transparent {
  border-color: transparent!important;
}







a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    text-decoration: none !important; }

.content {
  padding: 7rem 0; }

h2 {
  font-size: 20px; }

.half, .half .container > .row {
  height: 100vh; }

@media (max-width: 991.98px) {
  .half .bg {
    display: none } }









.half .contents, .half .bg {
  width: 50%; }

  @media (max-width: 1199.98px) {
    .half .contents, .half .bg {
      width: 100%; } }


  .half .contents .form-group, .half .bg .form-group {
    overflow: hidden;
    margin-bottom: 30px;
    border: 5px  #d3d2d2f8;
    position: relative;
   }
    .half .contents .form-group label, .half .bg .form-group label {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
    .half .contents .form-group input:focus + label, .half .bg .form-group input:focus + label {
      margin-top: -20px; }
    .half .contents .form-group.first, .half .bg .form-group.first {
      border-top-left-radius: 7px;
      border-top-right-radius: 7px; }
    .half .contents .form-group.last, .half .bg .form-group.last {
      border-bottom: 1px solid #efefef;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px; }
    .half .contents .form-group label, .half .bg .form-group label {
      font-size: 12px;
      display: block;
      color: #f70000; }
    .half .contents .form-group.field--not-empty label, .half .bg .form-group.field--not-empty label {
      margin-top: -30px; }



  .half .contents .form-control, .half .bg .form-control {





    font-size: 20px;


}
    .half .contents .form-control:active, .half .contents .form-control:focus, .half .bg .form-control:active, .half .bg .form-control:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none; }

.half .bg {
  background-size: cover;
  background-position: center; }

.half a {
  color: #0052cc;
   }

.half .btn {
  background-color: #00a5ef;
  font-size: .875rem;
  height: 54px;
  padding: 0.25rem 1rem;

}

.half .forgot-pass {
  position: relative;
  left: 220px;
  font-size: 14px; }

.social-login a {
  display: block;
  text-decoration: none;
  display: block;
  position: relative;
  text-align: center;
  color: #fff;
  margin-bottom: 10px; }
  .social-login a:hover {
    color: #fff; }
  .social-login a.facebook {
    background: #3b5998; }
    .social-login a.facebook:hover {
      background: #344e86; }
  .social-login a.twitter {
    background: #1da1f2; }
    .social-login a.twitter:hover {
      background: #0d95e8; }
  .social-login a.google {
    background: #ea4335; }
    .social-login a.google:hover {
      background: #e82e1e; }

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px; }
  .control .caption {
    position: relative;
    top: .2rem;
    color: #888; }

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px; }

.control--radio .control__indicator {
  border-radius: 50%; }

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc; }

.control input:checked ~ .control__indicator {
  background: #007bff; }

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #1a88ff; }

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.9;
  pointer-events: none; }

.control__indicator:after {
  font-family: 'icomoon';
  content: '\e5ca';
  position: absolute;
  display: none;
  font-size: 16px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }

.control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff; }

.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  margin-top: -1px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b; }

.control--checkbox input:disabled:checked ~ .control__indicator {
  background-color: #7e0cf5;
  opacity: .2; }











.alert{

  align-items: center;
  color: #333;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  line-height: 24px;
  min-height: 32px;
  padding: 11px 15px;
  position: relative;
}
  .font-weight-semibold {
    font-weight: 600;
}
.lh-16 {
    line-height: 30px!important;
}
.regular-18 {
    font-size: .75rem;



@media (min-width: 568px)
.flex-xs-row {
    flex-direction: row!important;
}

}
.d-flex {
    display: flex!important;
}
*, :after, :before {
    box-sizing: border-box;
}



.alert-info {
  background-color: #f5fafd
}





.smallBtn{
  background-color: transparent;
  padding: 12px;
  border:none;

}

.inputPass{

  border-left: none;
}



/*
@media(max-width: 600px) {
  .myBack {
    display: none!important;
  }
}
*/


.otp {
  margin: 0;
  font-family: "Poppins", sans-serif;
  display: flex!important;
  align-items: center!important;
  color: #fff;
}

.otp-field {
  display: flex!important;
}

.otp-field input {
  width: 30px;
  font-size: 27px;
  padding: 0px;
  text-align: center;
  border-radius: 8px;
  margin: 0.5rem;
  border: 1px solid #d8d8d8;;
  background: #fff;
  font-weight: bold;
  color: #333;
  outline: none;
  transition: all 0.1s;
}

.otp-field input:focus {
  border: 1px solid #00a5ef;;
  box-shadow: 1  1px 1px #00a5ef;;
}

.disabled {
  opacity: 0.5;
}



