<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
</head>
<body>
<h1>
    Kirish
</h1>
{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username" required><br>
    <input type="password" name="password" placeholder="Password" required><br>
    <input type="checkbox" name="rememberme">Eslab qolish<br>
    <input type="submit" value="LogIn">
</form>
<br>
<a href="{% url 'signup' %}">Ro'yxatdan o'tish</a>
</body>
</html>